---
title: Grid Utilities
---

<h2>layout-grid</h2>
<ul role="list" class="layout-grid docs--outline-children">
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>

<h2>layout-grid--columns</h2>
<ul role="list" class="layout-grid layout-grid--column docs--outline-children">
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>

<h2>layout-grid--auto-fit</h2>
<ul role="list" class="layout-grid layout-grid--auto-fit docs--outline-children">
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
    <li>lorem ipsum</li>
</ul>

<h2>layout-grid--sidebar</h2>
<div class="layout-grid layout-grid--sidebar docs--outline-children">
<div>Sidebar Content Here</div>
<article>
<p> Lorem ipsum dolor sit amet consectuetur adispisicing elit. Praesentium possimus distinctio accusantium?</p>
<p>Placeat nobis delextus fugiat error similique aut ad perferendis tenetyr sit. Voluptatum!</p>
<p>Dicta assumenda, qui voluptatus illo sequi nam quo9 nisi quos tempora nulla. </p>
</article>
</div>

<h2>layout-grid--centered</h2>
<div class="layout-grid layout-grid--centered docs-container docs--outline-children">
<p>Lorem ipsum dolor</p>
</div>

<h2>layout-grid--centered</h2>
<div class="layout-grid layout-grid--centered docs-container docs--outline-children">
<img src="https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVuJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt=""/>
</div>

<h2> layout-grid--stack</h2>
<div class="layout-grid layout-grid--stack">
    <img src="https://superdevresources.com/wp-content/uploads/2016/02/abstract-line-background-800x500.jpg" alt=""/>
    <div>
    <h3>Layout Stack</h3>
     <p>lorem ipsum dolor sit amet adipisicing elit. Aliquid eum expedita nam quae id odit!</p>
     </div>
</div>


