// Create container class
.container {
    width: 80ch;
    max-width: 95vw;
    margin-right: auto;
    margin-left: auto;
}

.layout-flex{
    display: flex; 
    flex-wrap: wrap;
    gap: 2rem;   
}
// note gap is now supported in most modern browsers